<div class="container">
  <div class = "row">
    <div class = "col-md-12 col-sm-12 col-xs-12">
      <h2 class =  "center">お知らせ</h2>
        <div class = "center">
          <% @notifications.each do |notification| %>
            <div class = "massage_border">
              <% if notification.read == false %>
                <span class = "red"><strong>未読</strong></span>
              <% end %>
                <p>
                  <%= notification.comment.user.try(:name) %>さんが
                  あなたのイベント（<%= link_to "#{notification.comment.collection.title}", collection_path(notification.comment.collection, notification_id: notification.id) %>）にコメントしました。
                </p>
              <!-- <p><%= notification.created_at %></p> -->
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
