// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error{
  color: red;
}

.event{
  margin-top: 20px;
  text-align: center;
  font-size:  20px;
}
