// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error{
  color: red;
}

.many_collection{
  margin-top: 10px;
  border-top: 1px solid gray;
}

.right{
  text-align: right;
}

.left{
  text-align: left;
}

.icon{
  text-align: right;
  display: flex;
  margin-left: 700px;
  margin-bottom: none;
}
