// Place all the styles related to the collections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.error{
  color: red;
}

.right{
  text-align: right;
  margin-top: 0px;
}

.event{
  margin-left: 150px;
}

.left{
  text-align: left;
}

.title{
  margin-top: 40px;
}
.action{
  width: 30px;
}

.event-child {
  padding: 0.3em 0.9em;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;/*文字色*/ background: white;
  border: solid 2px gray;/*線*/
}

.event-child a:hover { background-color: #247BA0;
 color: blue; }


.center{
  text-align: center;
}

.event-picture img{
  width: 150px;
  height: 120px;
  margin-right: -13px;
}

.event-picture{
  text-align: right;
  margin-top: -125px;
  margin-bottom: -5px;
}

.user-picture img{
  max-width: 80px;
  border-radius: 30px;
}

.show-user-info{
  position: relative;
  top: -100px;
}

.starttime{
    position: relative;
    top: -70px;
    left: 220px;
}
.endtime{
  position: relative;
  top: -140px;
  left: 400px;
  margin-bottom: -150px;
}

.Contribution{
  left: 400px;
  margin-bottom: -50px;
}

.show-icon{
  text-align: right;
  margin-bottom: 70px;
  margin-top: -100px;
}

.show-endtime{
  margin-bottom: -10px;
}

.collection-info{
 text-align: left;
}

.form-picture img{
  max-width: 400px
}

.blue{
  color: blue;
}
.show-picture img{
  max-width: 750px;
}

.show-picture{
  margin-top: -90px;
}
