// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments{
  text-align: center;
  margin-top: 10px;
}

.comment_image img{
  width: 40px;
  border-radius: 20px;
  margin-top: 10px;
}

.comment_form{
  border-top: 2px dotted gray;
}

#comment_area ul{
  padding: 0;
}
