.devise-mail{
  margin-top: 50px;
}

.main-title{
  font-family: fantasy;
  font-size: 100px;
  margin-top: 100px;
  text-align: center;
  color: #FFFAFA;
}

.registration{
  margin-top: 30px;
  color: #FFFAFA;
}


.first{
  margin-top: 20px;
}

.check_box{
  margin-top: 10px;
}

.change-mail{
  margin-top: 50px;
}

#notice{
  text-align: center;
}

.user-image img{
  max-width: 100%;
  border-radius: 20px;
  margin-top: 20px;
}

.description{
  text-align: center;
}

.check_box{
  color: #FFFAFA;
}

.white a{
  color: #FFFAFA;
}

.profile{
  width: 350px;
  background-color: gray;
  border: 2px dashed #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 4px gray;
  color: #fff;
  margin: 2em 0;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
}

.mypage-massege{
  margin-left: -180px;
  margin-right: 50px;
}

.follow{
  margin-top: -44px;
}

#new_relationship{
  margin-left: 220px;
}
