.devise-mail{
  margin-top: 50px;
}

.main-title{
  font-family: cursive;
  font-size: 50px;
  margin-top: 100px;
  text-align: center;
}

.registration{
  margin-top: 30px;
}


.first{
  margin-top: 20px;
}

.check_box{
  margin-top: 10px;
}

.change-mail{
  margin-top: 50px;
}

#notice{
  text-align: center;
}
