// Place all the styles related to the joins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.joiner img{
  border-radius: 20px;
  width: 40px;
}

.joiner{
  position: relative;
  left: 900px;
}

.join{
  margin-left: 920px;
}
