// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.massage_picture img{
  max-width: 40px;
  border-radius: 20px;
}

.send_massage{
  margin-left: auto;
  margin-right: auto;
}

.massage_border{
  border-top: 2px dotted gray;
}

.massage_content{
  word-wrap: break-word;
  white-space: normal;
  display: block;
}

.new_line{
  word-wrap: break-all;
}

.opponent_user_message_box {
    position: relative;
    margin-top: 5px;
    padding: 8px 15px;
    background: grey;
    border-radius: 30px;
    color: white;
}

.opponent_user_message_box p {
    margin: 0;
    padding: 0;
}

.current_user_message_box {
    position: relative;
    margin-top: 10px;
    padding: 8px 15px;
    background: #66CC00;
    border-radius: 30px;
    color: white;
}

.current_user_message_box p {
    margin: 0;
    padding: 0;
}
