// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.massage_picture img{
  max-width: 40px;
  border-radius: 20px;
}

.send_massage{
  margin-left: auto;
  margin-right: auto;
}

.massage_border{
  border-top: 2px dotted gray;
}

.massage_content{
  word-wrap: break-word;
  white-space: normal;
  display: block;
}
