header {
  width: 100%;
  background-color: gray;
  height: 48px;
}
//
.search_form {
  margin: 0 auto;
  list-style: none;
  margin-top: 10px;
  margin-left: 15px;
}

.navbar-default {
    border: 0;
}
// .navbar {
//     background-color: transparent;
//     color: black;
//     margin-bottom: 0px;
// }
// .navbar-default {
//   .navbar-brand {
//     color: #ccc;
//     &:hover {
//       color: white;
//     }
//   }
//   .navbar-nav > li > a {
//     color: #ccc;
//     &:hover, &:focus {
//       color: white;
//     }
//   }
//   .navbar-nav > .open > a {
//     background-color: transparent;
//     color: white;
//     &:hover, &:focus {
//       background-color: transparent;
//       color: white;
//     }
//   }
// }
// @media (max-width: 767px) {
// .navbar-default .navbar-nav .open .dropdown-menu > li > a {
//     color: #ccc;
//     text-align: center;
//     &:hover, &:focus {
//       color: white;
//     }
//   }
//   .navbar-default .navbar-toggle {
//     background-color: transparent;
//     &:hover, &:focus {
//       background-color: transparent;
//     }
//   }
// }

body{
  margin: 0px;
}

.top_title{
text-align: center;
margin-top: 170px;
font-size: 120px;
font-family: fantasy;
color: #fff100;
}

.top_title{
  color: white;
  margin-top: 100px;
}

.login_title{
  text-align: center;
  margin-top: 10px;
  font-size: 70px;
  font-family: fantasy;

}
.description{
  text-align: center;
}

.before_description{
  text-align: center;
  color: #FFFAFA;
}

.explain{
  font-size: 18px;
}

.top_join{
  margin-left: -200px;
}

.top_login{
  margin-left: 200px;
  margin-top: -55px;
}

#introduce{
  background-image: image-url("top.jpg");
  background-size: 100%
}

#notice{
  color: green;
  font-size: 20px;
}

.have_account{
  color: #FFFAFA;
}

.top-child {
  padding: 0.3em 0.9em;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  color: black;/*文字色*/ background: white;
  border: solid 2px gray;/*線*/
}

.top-child a:hover { background-color: #247BA0;
 color: blue; }
