<div class = "join">
  <% unless collection.user == current_user %>
    <% if join.nil? %>
      <%= link_to "参加する", collection_joins_path(collection), method: :post, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to "参加をやめる", collection_join_path(collection, join), method: :delete, class: 'btn btn-default' %>
    <% end %>
  <% end %>
</div>
